@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #f6f9fc;
  color: #1d2c44;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #d7e1ec;
  border-radius: 9999px;
}

.dark body {
  background: #020617;
  color: #e2e8f0;
}
